<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kate Morgan Freelance Web Development</title>
    <link rel='stylesheet' href='/styles/main.css'>
    <script src='/scripts/app.js'></script>
  </head>
  <body>
    <div id: "wrapper>"
    <header>
    </header>

    <%= yield %>

    <footer>
    </footer>
  </div>
  </body>
</html>
